@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

html, body{
    height: 100%;
    background-image: url(https://images.pexels.com/photos/1226398/pexels-photo-1226398.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;

}

.superContenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contenedorTodito{
    display: flex;
    flex-direction: column;
    background-color: rgba(116, 116, 116, 0.61);
    height: 50%;
    width: 50%;
    border-radius: 10px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    background-color: rgb(80, 44, 179);
    border-bottom: 2px solid white;
    color:white;
    padding-bottom: 20px;
}

.inputs{
    /* border: 2px solid; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 84, 121);
}

.entrada{
    width: 70%;
    height: 30%;
    border-radius: 5px 0 0 5px;
    border-style: none;
    background-color: rgb(80, 44, 179);
    outline: none;
    color: white;
    font-size: 18px;
    text-align: center;
}

.entrada::placeholder{
    color: white;
}

.agregar{
    height: 30%;
    width: 3%;
    background-color: rgb(80, 44, 179);
    border-style: none;
    border-radius: 0 5px 5px 0;
    border-left: 1px solid white;
    font-size: 25px;
    text-align: center;
    color: white;
}

.agregar:hover{
    background-color: white;
    border-left: 1px solid black;
    color: rgb(80, 44, 179);

}

::-webkit-scrollbar{
    display: none;
}



.lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color:rgb(60, 84, 121);
    border-radius: 5px;
    height: 60%;
    width: auto;
    overflow: scroll;
}

.tarea{
    display: flex;
    color: white;
    background-color: rgb(80, 44, 179);
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    border-bottom: 2px white solid;
}

.bi:hover{
    color: black;
}